<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view class="plant-detail">
  <!--TODO: use this code for v1
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack()">
      <i class="icon icon-back-android"></i>
    </button>
  </ion-nav-buttons>
  -->
  <ion-nav-buttons side="right">
    <button class="button button-clear edit-button" ng-click="editPlant(plant)">
        Editar
      </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="plant-message {{ plant.status }}">
      <i class="icon {{ plant.icon }}"></i>
      <span>{{ plant.status_message }}</span>
    </div>
    <div class="plant-main-info">
      <div class="plant-photo {{ plant.status }}">
        <img ng-src="{{ plant.foto.value }}" id="img-camera" />
      </div>
      <h2>{{plant.nome}}</h2>
      <span>{{ dados.ultima_data | date : "dd/MM/yyyy HH:mm" }}</span>
    </div>
    <ul class="plant-sensor-data">
      <li class="item item-avatar {{ dados.humidade_ar_status }}">
        <i class="icon icon-ar"></i>
        <span>{{ dados.humidade_ar }} %</span>
      </li>
      <li class="item item-avatar central {{ dados.humidade_solo_status }}">
        <i class="icon icon-solo"></i>
        <span>{{ dados.humidade_solo }} %</span>
      </li>
      <li class="item item-avatar central {{ dados.luminosidade_status }}">
        <i class="icon icon-luminosidade"></i>
        <span>{{ dados.luminosidade }} L</span>
      </li>
      <li class="item item-avatar {{ dados.temperatura_status }}">
        <i class="icon icon-temperatura"></i>
        <span>{{ dados.temperatura }} °C</span>
      </li>
    </ul>
    <div class="clear">
      <div class="plant-description">
        {{ plant.descricao }}
      </div>
      <ul class="plant-info">
        <li><span class="info-header">Localização:</span><span class="localizacao">{{plant.localizacao}}</span></li>
        <li><span class="info-header">Identificação do Sensor:</span><span class="sensor">{{ plant.sensor }}</span></li>
      </ul>
  </ion-content>
</ion-view>
