<ion-view view-title="" class="plants-add-edit">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack()">
      <i class="icon-back-android"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear edit-button" ng-click="gravar(plant, parametros)">
        Salvar
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <form>
        <div class="item plant-title">
          Dados da Planta
        </div>

        <label class="item item-input item-stacked-label centro">
          <!--<span class="input-label"><strong>Imagem da planta</strong></span>-->
          <!--<input id="foto" type="text" placeholder="Caminho da foto" ng-model="plant.foto.value">-->
          <div id="camera-button-wrapper" class="camera-button-wrapper" ng-click="tirarFoto()">
              <div class="camera"></div>
              <div ng-if="plant.foto.value" class="plant-avatar ajuda">
                <img id="img-camera" ng-src="{{ plant.foto.value }}" border="0" />
              </div>
              <div ng-if="!plant.foto.value" class="plant-preview">
                <img id="img-camera" src="img/new_camera_preview.png" border="0" />
              </div>
              <input type="hidden" id="image-path" ng-model="plant.foto.value" />
          </div>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Nome da Planta</strong></span>
          <input id="nome" type="text" placeholder="" ng-model="plant.nome">
        </label>

        <label class="item item-inputitem-stacked-label">
          <span class="input-label">Conte a história da sua planta</span>
          <textarea id="descricao" cols="100" rows="4" placeholder="" ng-model="plant.descricao"></textarea>
        </label>

        <!--{{ plant }}-->

        <h2 class="title">CONFIGURAÇÕES</h2>

        <div class="parametros">
          <div class="item item-body">
            <div class="row">
              <div class="col col-100"><i class="icon ion-ios-rainy"></i> Humidade do Ar</div>
            </div>
            <div class="row">
              <div class="col">
                  <label class="label-parametros">Mínimo</label>
              </div>
              <div class="col align-left">
                <label class="label-parametros">{{parametros.humidade_ar_min}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="range range range-balanced range-background-dark">
                    <input type="range" min="0" max="100" ng-model="parametros.humidade_ar_min">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <label class="label-parametros">Máximo</label>
              </div>
              <div class="col">
                  <label class="label-parametros">{{parametros.humidade_ar_max}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="range range range-balanced range-background-dark">
                  <input type="range" min="0" max="100" ng-model="parametros.humidade_ar_max">
                </div>
              </div>
            </div>
          </div>

          <div class="item range range-positive">
            <i class="icon ion-waterdrop"></i>
            <label class="label-parametros">{{parametros.humidade_solo_min}}</label>
            <input type="range" min="0" max="100" ng-model="parametros.humidade_solo_min">
            <input type="range" min="0" max="100" ng-model="parametros.humidade_solo_max">
            <label class="label-parametros">{{plant.parametros.humidade_solo_max}}</label>
          </div>

          <div class="item range range-positive">
            <i class="icon ion-ios-sunny-outline"></i>
            <label class="label-parametros">{{parametros.luminosidade_min}}</label>
            <input type="range" min="0" max="100" ng-model="parametros.luminosidade_min">
            <input type="range" min="0" max="100" ng-model="parametros.luminosidade_max">
            <label class="label-parametros">{{parametros.luminosidade_max}}</label>
          </div>

          <div class="item range range-positive">
            <i class="icon ion-thermometer"></i>
            <label class="label-parametros">{{parametros.temperatura_min}}</label>
            <input type="range" min="0" max="100" ng-model="parametros.temperatura_min">
            <input type="range" min="0" max="100" ng-model="parametros.temperatura_max">
            <label class="label-parametros">{{parametros.temperatura_max}}</label>
          </div>
        </div>

       <div class="item item-input item-stacked-label">
         <div class="row">
           <div class="col">
              <span class="input-label">Localização</span>

           </div>
           <div class="col">
              <textarea id="localizacao" cols="10" rows="2" placeholder="" ng-model="plant.localizacao">
              </textarea>
           </div>
         </div>
       </div>

       <div class="item item-input item-stacked-label">
         <div class="row">
           <div class="col">
             <span class="input-label">Sensor</span>
           </div>
           <div class="col">
             <textarea id="identificacaoSensor" cols="10" rows="2" placeholder="" ng-model="plant.sensor">
             </textarea>
           </div>
         </div>
        </div>


        <div class="item item-input">
          <div class="row">
            <div class="col">
              <span class="input-label">Cadastro ativo?</span>
            </div>
            <div class="col" style="position: relative">
               <div class="item-toggle">
                <label class="toggle toggle-success">
                  <input id="ativa" type="checkbox" ng-model="plant.ativa" checked>
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="item item-input item-stacked-label">
          <div class="row">
            <div class="col">
              <span class="input-label">Data de cadastro</span>
              <input id="dataCadastro" type="date" placeholder="" ng-model="plant.dataCadastro" format-date>
            </div>
          </div>

        </div>

        <button id="btn-gravar" class="btn-green btn-gravar" ng-click="gravar(plant, parametros)">
          Adicionar Planta
        </button>
        <br /><br />
        {{ parametros }}
      </form>
    </div>
  </ion-content>
</ion-view>
