<ion-view view-title="" class="plants-add-edit">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack()">
      <i class="icon-back-android"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear edit-button" ng-click="gravar(plant, parametros)">
        Salvar
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <form>
        <div class="item plant-title">
          Dados da Planta
        </div>

        <label class="item item-input item-stacked-label centro">
          <!--<span class="input-label"><strong>Imagem da planta</strong></span>-->
          <!--<input id="foto" type="text" placeholder="Caminho da foto" ng-model="plant.foto.value">-->
          <div id="camera-button-wrapper" class="camera-button-wrapper" ng-click="tirarFoto()">
              <img id="img-camera" src="img/new_camera_preview.png" border="0" />
              <input type="hidden" id="image-path" ng-model="plant.foto.value" />
          </div>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Nome da Planta</strong></span>
          <input id="nome" type="text" placeholder="" ng-model="plant.nome">
        </label>

        <label class="item item-inputitem-stacked-label">
          <span class="input-label">Conte a história da sua planta</span>
          <textarea id="descricao" cols="100" rows="4" placeholder="" ng-model="plant.descricao"></textarea>
        </label>

        <div class="item item-divider">
          <h2 class="title"><strong>CONFIGURAÇÕES</strong></h2>
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios-rainy"></i>
          <label class="label-parametros">{{parametros.humidade_ar_min}}</label>
          <input type="range" min="0" max="100" ng-model="parametros.humidade_ar_min">
          <input type="range" min="0" max="100" ng-model="parametros.humidade_ar_max">
          <label class="label-parametros">{{parametros.humidade_ar_max}}</label>
        </div>

        <div class="item range range-positive">
          <i class="icon ion-waterdrop"></i>
          <label class="label-parametros">{{parametros.humidade_solo_min}}</label>
          <input type="range" min="0" max="100" ng-model="parametros.humidade_solo_min">
          <input type="range" min="0" max="100" ng-model="parametros.humidade_solo_max">
          <label class="label-parametros">{{plant.parametros.humidade_solo_max}}</label>
        </div>

        <div class="item range range-positive">
          <i class="icon ion-ios-sunny-outline"></i>
          <label class="label-parametros">{{parametros.luminosidade_min}}</label>
          <input type="range" min="0" max="100" ng-model="parametros.luminosidade_min">
          <input type="range" min="0" max="100" ng-model="parametros.luminosidade_max">
          <label class="label-parametros">{{parametros.luminosidade_max}}</label>
        </div>

        <div class="item range range-positive">
          <i class="icon ion-thermometer"></i>
          <label class="label-parametros">{{parametros.temperatura_min}}</label>
          <input type="range" min="0" max="100" ng-model="parametros.temperatura_min">
          <input type="range" min="0" max="100" ng-model="parametros.temperatura_max">
          <label class="label-parametros">{{parametros.temperatura_max}}</label>
        </div>

       <label for="identificacaoSensor" class="item item-input item-stacked-label">
          <span class="input-label"><strong>Sensor</strong></span>
          <input id="identificacaoSensor" type="text" placeholder="" ng-model="plant.sensor">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Localização</strong></span>
          <input id="localizacao" type="text" placeholder="" ng-model="plant.localizacao">
        </label>

        <label class="item item-toggle">
          <strong>Cadastro ativo?</strong>
          <label class="toggle toggle-assertive">
            <input id="ativa" type="checkbox" ng-model="plant.ativa" checked>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Data de cadastro</strong></span>
          <input id="dataCadastro" type="date" placeholder="" ng-model="plant.dataCadastro" format-date>
        </label>

        <button id="btn-gravar" class="button btn-gravar" ng-click="gravar(plant, parametros)">
          Adicionar Planta
        </button>
        <br /><br />
        {{ parametros }}
      </form>
    </div>
  </ion-content>
</ion-view>
