 <!--Commented old Header-->
 <!--<ion-view view-title="Plants">
 <ion-header-bar align-title="left" class="bar-positive"></ion-header-bar>-->

<ion-view view-title="Gardenito" hide-nav-bar="true">
 <ion-header-bar align-title="center" style="background-color: #002a02" >
    <h1 class="title"><img src="img/gardenito-logo.png" width="150" /></h1>
 </ion-header-bar>

  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="plant in plants" type="item-text-wrap" href="#/tab/plants/{{plant.id}}">
        <img ng-src="{{plant.foto.value}}">
        <h2>{{plant.nome}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized" ng-click="edit(plant)">
          Editar
        </ion-option-button>

        <ion-option-button class="button-assertive" ng-click="remove(plant)">
          Excluir
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

