/* Empty. Add your own CSS if you like */

.camera-button-wrapper {
    width: 240px;
    height: 240px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    background: transparent url(../img/camera_preview.png) no-repeat center;
    background-position: 50% 0px;
    background-size: 240px 240px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.centro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#img-camera {
    width: 240px;
    height: 240px;
}

.label-parametros {
    width: 24px;
}
