

.btn-green {
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  padding: 10px 40px;
  margin: 24px auto;
  display: block;
  border-radius: 20px;
}
