.camera-button-wrapper {
    cursor: pointer;
    margin: 20px auto 10px;
    height: auto;
    width: 185px;
    position: relative;

    img {
      width: 185px;
      margin: -7px;
    }

    .camera {
      @include sprite($camera);
      position: absolute;
      bottom: 25px;
      right: -3px;
    }

    .plant-preview {
      border: 5px solid $white;
    }

    .plant-avatar {
      border-radius: 50%;
      display: block;
      width: 185px;
      height: 185px;
      padding: 5px;
      overflow: hidden;


      &.ajuda {
        border: 5px solid $red;
      }
    }
}
