.plants-add-edit {
  background-color: $lightSage;

  .item {
    background-color: $white;
    border: 0;
    margin: 10px 0;

    &.without-bg {
      background-color: transparent;
    }

    &.item-name-date {
      margin-top: -10px;
      padding-bottom: 40px;
    }

    textarea {
      background-color: transparent;
    }

    &.parametro {
      margin: 0;
      border-bottom:1px solid $gray;
    }
  }

  .title {
    font-size: 15px;
    font-weight: normal;
    padding: 6px 0 5px 16px;
  }

  .parametros {
    .col {
      margin-bottom: 0;
    }
  }
}
