<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gardenito API</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-cosmo.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta property="og:title" content="Conference Central">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Conference Central web app that lets you manage conferences.">
    <meta property="og:image" content="/img/CloudPlatform_logo.png">
    <meta property="og:site_name" content="An web app powered by Google App Engine">

    <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
</head>
<body>



</body>
</html>
